In [1]:
import pandas as pd

In [4]:
df = pd.read_json("output.json")

In [5]:
df.head(5)

,name,rating,date,text,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Ground Service,Value For Money,Recommended,Aircraft,Food & Beverages,Inflight Entertainment,Wifi & Connectivity
0,N Hancock,1.0,2023-07-18,Customer Service does not exist. One world eme...,Family Leisure,Business Class,London to Rhodes,July 2023,1.0,1.0,1.0,1,no,NaN,NaN,NaN,NaN
1,Steven Hodgson,9.0,2023-07-17,"Another really great pair of flights, on time,...",Family Leisure,Business Class,Newcastle to Las Vegas via Heathrow,June 2023,4.0,5.0,4.0,4,yes,A320 A350,4,3,NaN
2,John Grainger,1.0,2023-07-17,Our A380 developed a fault taxiing to the runw...,Solo Leisure,Business Class,London to Miami,June 2023,1.0,1.0,1.0,1,no,A380,1,NaN,NaN
3,K Robson,2.0,2023-07-16,Horrible airline. Does not care about their cu...,Solo Leisure,Economy Class,Amman to London,July 2023,3.0,1.0,4.0,3,no,A320Neo,1,1,3.0
4,Pradeep Madhavan,4.0,2023-07-09,My family and I have flown mostly on British A...,Couple Leisure,Premium Economy,Chennai to London,July 2023,3.0,2.0,4.0,1,no,Boeing 777,1,1,NaN